@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&family=Nunito:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400&display=swap" rel="stylesheet');
body {
  font-family: "Nunito", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

#header {
  background: url("../img/starting.png") no-repeat center/cover;
  min-width: 100vh;
  min-height: 1000px;
}
#header h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #FFFFFF;
}
#header .header {
  height: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .header--menus {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header .header--buttonHeader {
  width: 140px;
  height: 46px;
  background: #B85C38;
  border-radius: 40px;
  border: none;
  cursor: pointer;
}
#header .header--buttonHeader h4 {
  color: white;
  font-size: 12px;
  font-weight: 400;
}
#header .start {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 120px;
}
#header .start--around {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: none;
  background: #B85C38;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#header .start--around__play {
  font-size: 30px;
  color: white;
}
#header .start h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  color: #FFFFFF;
  text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.25);
}
#header .start h4 {
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #FFFFFF;
}
#header .start--buttons {
  display: flex;
  justify-content: space-between;
  width: 300px;
}
#header .start--buttons__button {
  width: 150px;
  height: 55px;
  background: transparent;
  border-radius: 40px;
  border: solid 2px white;
  margin-left: 10px;
  cursor: pointer;
}
#header .start--buttons__button h4 {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
}
#header .start--buttons__orangeButton {
  width: 150px;
  height: 56px;
  background: #B85C38;
  border-radius: 40px;
  border: none;
  margin-right: 10px;
  cursor: pointer;
}
#header .start--buttons__orangeButton h4 {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
}

#features .fac {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 87px;
  text-align: center;
  color: #2D2424;
  margin-top: 50px;
}
#features .lop {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #BDBDBD;
  width: 920px;
  margin-left: 150px;
  margin-top: 30px;
}
#features .miko {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#features .miko h3 {
  font-size: 24px;
  color: #B85C38;
  margin-top: 20px;
}
#features .miko p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #BDBDBD;
  width: 250px;
  margin-top: 20px;
}
#features .css {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
}

#reviews .reviews--image {
  display: flex;
  justify-content: space-around;
  padding: 100px 0 0 0;
}
#reviews .reviews--image__text #reviews .reviews--image {
  display: flex;
  justify-content: space-around;
  padding: 100px 0 0 0;
}
#reviews .reviews--image__text #reviews .reviews--image__text {
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  color: #333333;
  width: 400px;
  margin: 0 35px;
  padding: 20px 0;
}
#reviews .reviews--image__text #reviews .reviews--image__text h4 {
  font-size: 16px;
}
#reviews .reviews--image__text #reviews .reviews--image__text h2 h4 {
  font-size: 16px;
}
#reviews .reviews--image__text #reviews .reviews--image__text h2 h2 {
  padding: 15px 0;
  color: #333333;
}
#reviews .reviews--image__text #reviews .reviews--image__text__text1__text1 {
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  color: #333333;
  width: 400px;
  margin: 0 500px;
  margin-top: -214px;
}
#reviews .reviews--image__text #reviews .reviews--image__text__text1__text1 h4 {
  font-size: 16px;
}
#reviews .reviews--image__text #reviews .reviews--image__text__text1__text1 h2 h4 {
  font-size: 16px;
}
#reviews .reviews--image__text #reviews .reviews--image__text__text1__text1 h2 h2 {
  padding: 15px 0;
  color: #333333;
}
#reviews .reviews--image__text #reviews .reviews--image__text__text1__text1__text2__text2 {
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  color: #333333;
  width: 400px;
  margin-left: 960px;
  margin-top: -195px;
}
#reviews .reviews--image__text #reviews .reviews--image__text__text1__text1__text2__text2 h4 {
  font-size: 16px;
}
#reviews .reviews--image__text #reviews .reviews--image__text__text1__text1__text2__text2 h2 h4 {
  font-size: 16px;
}
#reviews .reviews--image__text #reviews .reviews--image__text__text1__text1__text2__text2 h2 h2 {
  padding: 15px 0;
  color: #333333;
}
#reviews .reviews--image__text #reviews .reviews--image__text__text1__text1 #footer {
  background: #2D2424;
  height: 500px;
}
#reviews .reviews--image__text #reviews .reviews--image__text__text1__text1 #footer .footer--traunship {
  padding: 100px 20px;
  color: #FFFFFF;
}
#reviews .reviews--image__text #reviews .reviews--image__text__text1__text1 #footer .footer--traunship .logo {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 49px;
  color: #FFFFFF;
  padding: 30px 0 10px;
}
#reviews .reviews--image__text #reviews .reviews--image__text__text1__text1 #footer .footer--traunship h2 {
  font-size: 16px;
  padding: 10px 0;
}
#reviews .reviews--image__text #reviews .reviews--image__text__text1__text1 #footer .footer--traunship h3 {
  font-size: 16px;
  padding: 10px 0;
}
#reviews .reviews--image__text #reviews .reviews--image__text__text1__text1 #footer .footer--traunship h4 {
  padding: 30px 0;
}
#reviews .reviews--image__text #reviews .reviews--image__text__text1__text1 #footer .footer--traunship__Quick {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -100px;
  margin-top: -340px;
}
#reviews .reviews--image__text #reviews .reviews--image__text__text1__text1 #footer .footer--traunship__Quick h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #FFFFFF;
  padding: 20px 0;
}
#reviews .reviews--image__text #reviews .reviews--image__text__text1__text1 #footer .footer--traunship__Quick a {
  padding: 10px 0;
}
#reviews .reviews--image__text #reviews .reviews--image__text__text1__text1 #footer .footer--traunship__text {
  margin: 0 300px;
  margin-top: -217px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #FFFFFF;
  display: flex;
  justify-content: flex-end;
}
#reviews .reviews--image__text #reviews .reviews--image__text__text1__text1 #footer .footer--traunship__input {
  background: rgba(255, 255, 255, 0.18);
  border-radius: 8px;
  width: 445px;
  height: 180px;
  margin-top: 20px;
  margin-left: 850px;
}
#reviews .reviews--image__text #reviews .reviews--image__text__text1__text1 #footer .footer--traunship__input input {
  width: 287px;
  height: 48px;
  background: #FFFFFF;
  border-radius: 4px;
  border: none;
  margin: 20px 20px;
  font-size: 15px;
}
#reviews .reviews--image__text #reviews .reviews--image__text__text1__text1 #footer .footer--traunship__input h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  padding: 25px 20px;
}
#reviews .reviews--image__text #reviews .reviews--image__text__text1__text1 #footer .footer--traunship__input button {
  background: #B85C38;
  border-radius: 40px;
  border: none;
  color: #FFFFFF;
  width: 88px;
  height: 48px;
  font-size: 18px;
  transition: 0.4s;
}
#reviews .reviews--image__text #reviews .reviews--image__text__text1__text1 #footer .footer--traunship__input button:hover, #reviews .reviews--image__text #reviews .reviews--image__text__text1__text1 #footer .footer--traunship__input button:focus {
  transform: scale(1.2);
}
#reviews .reviews--image__text #reviews .reviews--image__text__text1__text1 #footer .footer--traunship__line {
  border: 1px solid #FFFFFF;
  margin-top: 50px;
}
#reviews .reviews--image__text #reviews .reviews--image__text__text1__text1 #footer .footer--traunship__foot {
  color: #FFFFFF;
  margin-top: 30px;
}
#reviews .reviews--image__text #reviews .reviews--image__text__text1__text1 #footer .footer--traunship__foot h5 {
  margin: 0 40px;
}
#reviews .reviews--image__text #reviews .reviews--image__text__text1__text1 #footer .footer--traunship__footer {
  display: flex;
  color: red;
  justify-content: flex-end;
  padding: 0 90px;
  margin: -10px 0;
}
#reviews .reviews--image__text #reviews .reviews--image__text__text1__text1 #factsSpace .factsSpace {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#reviews .reviews--image__text #reviews .reviews--image__text__text1__text1 #factsSpace .factsSpace--h1 {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  color: #2D2424;
}
#reviews .reviews--image__text #reviews .reviews--image__text__text1__text1 #factsSpace .factsSpace--h5 {
  width: 600px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #BDBDBD;
}
#reviews .reviews--image__text #reviews .reviews--image__text__text1__text1 #factsSpace .factsSpace--img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#reviews .reviews--image__text #reviews .reviews--image__text__text1__text1 #factsSpace .factsSpace--img__text {
  padding: 20px 0 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#reviews .reviews--image__text #reviews .reviews--image__text__text1__text1 #factsSpace .factsSpace--img__text--tittle {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 200px;
  margin: 0 0 0 30px;
}
#reviews .reviews--image__text #reviews .reviews--image__text__text1__text1 #factsSpace .factsSpace--img__text--tittle__p {
  color: #B85C38;
}
#reviews .reviews--image__text #reviews .reviews--image__text__text1__text1 #factsSpace .factsSpace--img__text--tittle h5 {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #BDBDBD;
  width: 280px;
}
#reviews .reviews--image__text #reviews .reviews--image__text__text1__text1 #rocketScience {
  background: #F7F9FC;
}
#reviews .reviews--image__text #reviews .reviews--image__text__text1__text1 #rocketScience .rocketScience {
  display: flex;
}
#reviews .reviews--image__text #reviews .reviews--image__text__text1__text1 #rocketScience .rocketScience--tittle {
  padding: 160px 0;
}
#reviews .reviews--image__text #reviews .reviews--image__text__text1__text1 #rocketScience .rocketScience--tittle h1 {
  margin: 30px 0;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 37px;
  color: #333333;
}
#reviews .reviews--image__text #reviews .reviews--image__text__text1__text1 #rocketScience .rocketScience--tittle h5 {
  padding: 30px 0;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #BDBDBD;
}
#reviews .reviews--image__text #reviews .reviews--image__text__text1__text1 #rocketScience .rocketScience--tittle button {
  border: none;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 32px;
  background: #B85C38;
  border-radius: 40px;
}
#reviews .reviews--image__text #reviews .reviews--image__text__text1__text1 #rocketScience .rocketScience--block {
  margin: 60px 15px 100px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}
#reviews .reviews--image__text #reviews .reviews--image__text__text1__text1 #rocketScience .rocketScience--block h1 {
  padding: 25px 0;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 31px;
  color: #333333;
}
#reviews .reviews--image__text #reviews .reviews--image__text__text1__text1 #rocketScience .rocketScience--block h5 {
  padding: 0 0 25px 0;
  width: 250px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #BDBDBD;
}
#reviews .reviews--image__text #reviews .reviews--image__text__text1__text1 #rocketScience .rocketScience--block p {
  color: #B85C38;
  padding: 10px 0 70px 0;
}
#reviews .reviews--image__text #reviews .reviews--image__text__text1__text1 #rocketScience .rocketScience--block2 {
  margin: 60px 15px 100px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}
#reviews .reviews--image__text #reviews .reviews--image__text__text1__text1 #rocketScience .rocketScience--block2 h1 {
  padding: 25px 0;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 31px;
  color: #333333;
}
#reviews .reviews--image__text #reviews .reviews--image__text__text1__text1 #rocketScience .rocketScience--block2 h5 {
  padding: 0 0 25px 0;
  width: 250px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #BDBDBD;
}
#reviews .reviews--image__text #reviews .reviews--image__text__text1__text1 #rocketScience .rocketScience--block2 p {
  color: #B85C38;
  padding: 10px 0 70px 0;
}

/*# sourceMappingURL=style.css.map */
