@import "global";
@import "media";
#reviews{
  .reviews--image{
    display: flex;
    justify-content: space-around;
    padding: 100px 0 0 0;
    &__text{
      font-size: 22px;
      line-height: 33px;
      text-align: center;
      color: #333333;
      width: 400px;
      margin: 0 35px;
      padding: 20px 0;
      h4{
        font-size: 16px;
      }
      h2{
        padding: 15px 0;
        color: #333333;
      }
    }
    &__text1{
      font-size: 22px;
      line-height: 33px;
      text-align: center;
      color: #333333;
      width: 400px;
      margin: 0 500px;
      margin-top: -214px;
      h4{
        font-size: 16px;
      }
      h2{
        padding: 15px 0;
        color: #333333;
      }
    }
    &__text2{
      font-size: 22px;
      line-height: 33px;
      text-align: center;
      color: #333333;
      width: 400px;
      margin-left: 960px;
      margin-top: -195px;
      h4{
        font-size: 16px;
      }
      h2{
        padding: 15px 0;
        color: #333333;
      }
    }
  }
}