@import "global";
@import "media";
#reviews{
  .reviews--image{
    display: flex;
    justify-content: space-around;
    padding: 100px 0 0 0;
    &__text{
      font-size: 22px;
      line-height: 33px;
      text-align: center;
      color: #333333;
      width: 400px;
      margin: 0 35px;
      padding: 20px 0;
      h4{
        font-size: 16px;
      }
      h2{
        padding: 15px 0;
        color: #333333;
      }
    }
    &__text1{
      font-size: 22px;
      line-height: 33px;
      text-align: center;
      color: #333333;
      width: 400px;
      margin: 0 500px;
      margin-top: -214px;
      h4{
        font-size: 16px;
      }
      h2{
        padding: 15px 0;
        color: #333333;
      }
    }
    &__text2{
      font-size: 22px;
      line-height: 33px;
      text-align: center;
      color: #333333;
      width: 400px;
      margin-left: 960px;
      margin-top: -195px;
      h4{
        font-size: 16px;
      }
      h2{
        padding: 15px 0;
        color: #333333;
#factsSpace {
  .factsSpace {
    @include flex;

    &--h1 {
      font-family: 'Nunito', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 54px;
      color: #2D2424;
    }
    &--h5 {
      width: 600px;
      font-family: 'Nunito',sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      color: #BDBDBD;
    }
    &--img {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      &__text {
        padding: 20px 0 30px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &--tittle {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          height: 200px;
          margin: 0 0 0 30px;
          &__p{
            color: #B85C38;
          }
          h5 {
            font-family: 'Nunito',sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: #BDBDBD;
            width: 280px;
          }
        }
      }
    }
  }
}